rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // School application users & accounts
    match /users/{userId} {
      allow read, write: if true;
    }

    // Projects & moments sync
    match /projects/{projectId} {
      allow read, write: if true;
    }

    // Teacher exercises
    match /exercises/{exerciseId} {
      allow read, write: if true;
    }

    // Notifications
    match /notifications/{notificationId} {
      allow read, write: if true;
    }

    // System configurations
    match /system/{settingId} {
      allow read, write: if true;
    }

    // Catch-all
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
